# Configuration file

fluids {
    S:fluid.bio.ethanol.cardrank=
    S:fluid.bio.ethanol.grammar=
    S:fluid.bio.ethanol.instability.factor_accessibility=
    S:fluid.bio.ethanol.instability.factor_flat=
    S:fluid.bio.ethanol.seabanned=
    S:fluid.biofuel.cardrank=
    S:fluid.biofuel.grammar=
    S:fluid.biofuel.instability.factor_accessibility=
    S:fluid.biofuel.instability.factor_flat=
    S:fluid.biofuel.seabanned=
    S:fluid.biomass.cardrank=
    S:fluid.biomass.grammar=
    S:fluid.biomass.instability.factor_accessibility=
    S:fluid.biomass.instability.factor_flat=
    S:fluid.biomass.seabanned=
    S:fluid.blaze_juice.cardrank=
    S:fluid.blaze_juice.grammar=
    S:fluid.blaze_juice.instability.factor_accessibility=
    S:fluid.blaze_juice.instability.factor_flat=
    S:fluid.blaze_juice.seabanned=
    S:fluid.blood.cardrank=
    S:fluid.blood.grammar=
    S:fluid.blood.instability.factor_accessibility=
    S:fluid.blood.instability.factor_flat=
    S:fluid.blood.seabanned=
    S:fluid.cloud_seed.cardrank=
    S:fluid.cloud_seed.grammar=
    S:fluid.cloud_seed.instability.factor_accessibility=
    S:fluid.cloud_seed.instability.factor_flat=
    S:fluid.cloud_seed.seabanned=
    S:fluid.cloud_seed_concentrated.cardrank=
    S:fluid.cloud_seed_concentrated.grammar=
    S:fluid.cloud_seed_concentrated.instability.factor_accessibility=
    S:fluid.cloud_seed_concentrated.instability.factor_flat=
    S:fluid.cloud_seed_concentrated.seabanned=
    S:fluid.crude_oil.cardrank=
    S:fluid.crude_oil.grammar=
    S:fluid.crude_oil.instability.factor_accessibility=
    S:fluid.crude_oil.instability.factor_flat=
    S:fluid.crude_oil.seabanned=
    S:fluid.cryotheum.cardrank=
    S:fluid.cryotheum.grammar=
    S:fluid.cryotheum.instability.factor_accessibility=
    S:fluid.cryotheum.instability.factor_flat=
    S:fluid.cryotheum.seabanned=
    S:fluid.ender.cardrank=
    S:fluid.ender.grammar=
    S:fluid.ender.instability.factor_accessibility=
    S:fluid.ender.instability.factor_flat=
    S:fluid.ender.seabanned=
    S:fluid.ender_distillation.cardrank=
    S:fluid.ender_distillation.grammar=
    S:fluid.ender_distillation.instability.factor_accessibility=
    S:fluid.ender_distillation.instability.factor_flat=
    S:fluid.ender_distillation.seabanned=
    S:fluid.ender_sap.cardrank=
    S:fluid.ender_sap.grammar=
    S:fluid.ender_sap.instability.factor_accessibility=
    S:fluid.ender_sap.instability.factor_flat=
    S:fluid.ender_sap.seabanned=
    S:fluid.essence.cardrank=
    S:fluid.essence.grammar=
    S:fluid.essence.instability.factor_accessibility=
    S:fluid.essence.instability.factor_flat=
    S:fluid.essence.seabanned=
    S:fluid.fiery_essence.cardrank=
    S:fluid.fiery_essence.grammar=
    S:fluid.fiery_essence.instability.factor_accessibility=
    S:fluid.fiery_essence.instability.factor_flat=
    S:fluid.fiery_essence.seabanned=
    S:fluid.fierymetal.cardrank=
    S:fluid.fierymetal.grammar=
    S:fluid.fierymetal.instability.factor_accessibility=
    S:fluid.fierymetal.instability.factor_flat=
    S:fluid.fierymetal.seabanned=
    S:fluid.fire_water.cardrank=
    S:fluid.fire_water.grammar=
    S:fluid.fire_water.instability.factor_accessibility=
    S:fluid.fire_water.instability.factor_flat=
    S:fluid.fire_water.seabanned=
    S:fluid.for.honey.cardrank=
    S:fluid.for.honey.grammar=
    S:fluid.for.honey.instability.factor_accessibility=
    S:fluid.for.honey.instability.factor_flat=
    S:fluid.for.honey.seabanned=
    S:fluid.formic_acid.cardrank=
    S:fluid.formic_acid.grammar=
    S:fluid.formic_acid.instability.factor_accessibility=
    S:fluid.formic_acid.instability.factor_flat=
    S:fluid.formic_acid.seabanned=
    S:fluid.fuelium.cardrank=
    S:fluid.fuelium.grammar=
    S:fluid.fuelium.instability.factor_accessibility=
    S:fluid.fuelium.instability.factor_flat=
    S:fluid.fuelium.seabanned=
    S:fluid.gendustry.liquiddna.cardrank=
    S:fluid.gendustry.liquiddna.grammar=
    S:fluid.gendustry.liquiddna.instability.factor_accessibility=
    S:fluid.gendustry.liquiddna.instability.factor_flat=
    S:fluid.gendustry.liquiddna.seabanned=
    S:fluid.gendustry.mutagen.cardrank=
    S:fluid.gendustry.mutagen.grammar=
    S:fluid.gendustry.mutagen.instability.factor_accessibility=
    S:fluid.gendustry.mutagen.instability.factor_flat=
    S:fluid.gendustry.mutagen.seabanned=
    S:fluid.gendustry.protein.cardrank=
    S:fluid.gendustry.protein.grammar=
    S:fluid.gendustry.protein.instability.factor_accessibility=
    S:fluid.gendustry.protein.instability.factor_flat=
    S:fluid.gendustry.protein.seabanned=
    S:fluid.glass.cardrank=
    S:fluid.glass.grammar=
    S:fluid.glass.instability.factor_accessibility=
    S:fluid.glass.instability.factor_flat=
    S:fluid.glass.seabanned=
    S:fluid.honey.cardrank=
    S:fluid.honey.grammar=
    S:fluid.honey.instability.factor_accessibility=
    S:fluid.honey.instability.factor_flat=
    S:fluid.honey.seabanned=
    S:fluid.hootch.cardrank=
    S:fluid.hootch.grammar=
    S:fluid.hootch.instability.factor_accessibility=
    S:fluid.hootch.instability.factor_flat=
    S:fluid.hootch.seabanned=
    S:fluid.hot_spring_water.cardrank=
    S:fluid.hot_spring_water.grammar=
    S:fluid.hot_spring_water.instability.factor_accessibility=
    S:fluid.hot_spring_water.instability.factor_flat=
    S:fluid.hot_spring_water.seabanned=
    S:fluid.ice.cardrank=
    S:fluid.ice.grammar=
    S:fluid.ice.instability.factor_accessibility=
    S:fluid.ice.instability.factor_flat=
    S:fluid.ice.seabanned=
    S:fluid.if.pink_slime.cardrank=
    S:fluid.if.pink_slime.grammar=
    S:fluid.if.pink_slime.instability.factor_accessibility=
    S:fluid.if.pink_slime.instability.factor_flat=
    S:fluid.if.pink_slime.seabanned=
    S:fluid.if.protein.cardrank=
    S:fluid.if.protein.grammar=
    S:fluid.if.protein.instability.factor_accessibility=
    S:fluid.if.protein.instability.factor_flat=
    S:fluid.if.protein.seabanned=
    S:fluid.juice.cardrank=
    S:fluid.juice.grammar=
    S:fluid.juice.instability.factor_accessibility=
    S:fluid.juice.instability.factor_flat=
    S:fluid.juice.seabanned=
    S:fluid.knightmetal.cardrank=
    S:fluid.knightmetal.grammar=
    S:fluid.knightmetal.instability.factor_accessibility=
    S:fluid.knightmetal.instability.factor_flat=
    S:fluid.knightmetal.seabanned=
    S:fluid.latex.cardrank=
    S:fluid.latex.grammar=
    S:fluid.latex.instability.factor_accessibility=
    S:fluid.latex.instability.factor_flat=
    S:fluid.latex.seabanned=
    S:fluid.liquid_nitrogen.cardrank=
    S:fluid.liquid_nitrogen.grammar=
    S:fluid.liquid_nitrogen.instability.factor_accessibility=
    S:fluid.liquid_nitrogen.instability.factor_flat=
    S:fluid.liquid_nitrogen.seabanned=
    S:fluid.liquid_sunshine.cardrank=
    S:fluid.liquid_sunshine.grammar=
    S:fluid.liquid_sunshine.instability.factor_accessibility=
    S:fluid.liquid_sunshine.instability.factor_flat=
    S:fluid.liquid_sunshine.seabanned=
    S:fluid.mana.cardrank=
    S:fluid.mana.grammar=
    S:fluid.mana.instability.factor_accessibility=
    S:fluid.mana.instability.factor_flat=
    S:fluid.mana.seabanned=
    S:fluid.meat.cardrank=
    S:fluid.meat.grammar=
    S:fluid.meat.instability.factor_accessibility=
    S:fluid.meat.instability.factor_flat=
    S:fluid.meat.seabanned=
    S:fluid.milk.cardrank=
    S:fluid.milk.grammar=
    S:fluid.milk.instability.factor_accessibility=
    S:fluid.milk.instability.factor_flat=
    S:fluid.milk.seabanned=
    S:fluid.myst.ink.black.cardrank=
    S:fluid.myst.ink.black.grammar=
    S:fluid.myst.ink.black.instability.factor_accessibility=
    S:fluid.myst.ink.black.instability.factor_flat=
    S:fluid.myst.ink.black.seabanned=
    S:fluid.nutrient_distillation.cardrank=
    S:fluid.nutrient_distillation.grammar=
    S:fluid.nutrient_distillation.instability.factor_accessibility=
    S:fluid.nutrient_distillation.instability.factor_flat=
    S:fluid.nutrient_distillation.seabanned=
    S:fluid.petrotheum.cardrank=
    S:fluid.petrotheum.grammar=
    S:fluid.petrotheum.instability.factor_accessibility=
    S:fluid.petrotheum.instability.factor_flat=
    S:fluid.petrotheum.seabanned=
    S:fluid.poison.cardrank=
    S:fluid.poison.grammar=
    S:fluid.poison.instability.factor_accessibility=
    S:fluid.poison.instability.factor_flat=
    S:fluid.poison.seabanned=
    S:fluid.polluted_water.cardrank=
    S:fluid.polluted_water.grammar=
    S:fluid.polluted_water.instability.factor_accessibility=
    S:fluid.polluted_water.instability.factor_flat=
    S:fluid.polluted_water.seabanned=
    S:fluid.pyrotheum.cardrank=
    S:fluid.pyrotheum.grammar=
    S:fluid.pyrotheum.instability.factor_accessibility=
    S:fluid.pyrotheum.instability.factor_flat=
    S:fluid.pyrotheum.seabanned=
    S:fluid.redstone.cardrank=
    S:fluid.redstone.grammar=
    S:fluid.redstone.instability.factor_accessibility=
    S:fluid.redstone.instability.factor_flat=
    S:fluid.redstone.seabanned=
    S:fluid.rocket_fuel.cardrank=
    S:fluid.rocket_fuel.grammar=
    S:fluid.rocket_fuel.instability.factor_accessibility=
    S:fluid.rocket_fuel.instability.factor_flat=
    S:fluid.rocket_fuel.seabanned=
    S:fluid.rubber.cardrank=
    S:fluid.rubber.grammar=
    S:fluid.rubber.instability.factor_accessibility=
    S:fluid.rubber.instability.factor_flat=
    S:fluid.rubber.seabanned=
    S:fluid.sand.cardrank=
    S:fluid.sand.grammar=
    S:fluid.sand.instability.factor_accessibility=
    S:fluid.sand.instability.factor_flat=
    S:fluid.sand.seabanned=
    S:fluid.seed.oil.cardrank=
    S:fluid.seed.oil.grammar=
    S:fluid.seed.oil.instability.factor_accessibility=
    S:fluid.seed.oil.instability.factor_flat=
    S:fluid.seed.oil.seabanned=
    S:fluid.sewage.cardrank=
    S:fluid.sewage.grammar=
    S:fluid.sewage.instability.factor_accessibility=
    S:fluid.sewage.instability.factor_flat=
    S:fluid.sewage.seabanned=
    S:fluid.short.mead.cardrank=
    S:fluid.short.mead.grammar=
    S:fluid.short.mead.instability.factor_accessibility=
    S:fluid.short.mead.instability.factor_flat=
    S:fluid.short.mead.seabanned=
    S:fluid.sludge.cardrank=
    S:fluid.sludge.grammar=
    S:fluid.sludge.instability.factor_accessibility=
    S:fluid.sludge.instability.factor_flat=
    S:fluid.sludge.seabanned=
    S:fluid.stagnant_water.cardrank=
    S:fluid.stagnant_water.grammar=
    S:fluid.stagnant_water.instability.factor_accessibility=
    S:fluid.stagnant_water.instability.factor_flat=
    S:fluid.stagnant_water.seabanned=
    S:fluid.tar.cardrank=
    S:fluid.tar.grammar=
    S:fluid.tar.instability.factor_accessibility=
    S:fluid.tar.instability.factor_flat=
    S:fluid.tar.seabanned=
    S:ic2.biomass.cardrank=
    S:ic2.biomass.grammar=
    S:ic2.biomass.instability.factor_accessibility=
    S:ic2.biomass.instability.factor_flat=
    S:ic2.biomass.seabanned=
    S:ic2.construction_foam.cardrank=
    S:ic2.construction_foam.grammar=
    S:ic2.construction_foam.instability.factor_accessibility=
    S:ic2.construction_foam.instability.factor_flat=
    S:ic2.construction_foam.seabanned=
    S:ic2.coolant.cardrank=
    S:ic2.coolant.grammar=
    S:ic2.coolant.instability.factor_accessibility=
    S:ic2.coolant.instability.factor_flat=
    S:ic2.coolant.seabanned=
    S:ic2.creosote.cardrank=
    S:ic2.creosote.grammar=
    S:ic2.creosote.instability.factor_accessibility=
    S:ic2.creosote.instability.factor_flat=
    S:ic2.creosote.seabanned=
    S:ic2.distilled_water.cardrank=
    S:ic2.distilled_water.grammar=
    S:ic2.distilled_water.instability.factor_accessibility=
    S:ic2.distilled_water.instability.factor_flat=
    S:ic2.distilled_water.seabanned=
    S:ic2.heavy_water.cardrank=
    S:ic2.heavy_water.grammar=
    S:ic2.heavy_water.instability.factor_accessibility=
    S:ic2.heavy_water.instability.factor_flat=
    S:ic2.heavy_water.seabanned=
    S:ic2.hot_coolant.cardrank=
    S:ic2.hot_coolant.grammar=
    S:ic2.hot_coolant.instability.factor_accessibility=
    S:ic2.hot_coolant.instability.factor_flat=
    S:ic2.hot_coolant.seabanned=
    S:ic2.hot_water.cardrank=
    S:ic2.hot_water.grammar=
    S:ic2.hot_water.instability.factor_accessibility=
    S:ic2.hot_water.instability.factor_flat=
    S:ic2.hot_water.seabanned=
    S:ic2.pahoehoe_lava.cardrank=
    S:ic2.pahoehoe_lava.grammar=
    S:ic2.pahoehoe_lava.instability.factor_accessibility=
    S:ic2.pahoehoe_lava.instability.factor_flat=
    S:ic2.pahoehoe_lava.seabanned=
    S:ic2.uu_matter.cardrank=
    S:ic2.uu_matter.grammar=
    S:ic2.uu_matter.instability.factor_accessibility=
    S:ic2.uu_matter.instability.factor_flat=
    S:ic2.uu_matter.seabanned=
    S:ic2.weed_ex.cardrank=
    S:ic2.weed_ex.grammar=
    S:ic2.weed_ex.instability.factor_accessibility=
    S:ic2.weed_ex.instability.factor_flat=
    S:ic2.weed_ex.seabanned=
}


instability {
    S:global.difficulty=
    B:global.enabled=true
}


